.task-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  height: 90px;
  background-color: #3acc83;
  font-weight: 600;
  color: white;
  cursor: pointer;
  
  @media screen and (max-width: 768px) {
    height: fit-content;
    text-align: start;
    font-weight: 400;
    font-size: 14px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;

    @media screen and (max-width: 768px) {
     max-width: 80%;
    }

    @media screen and (max-width: 540px) {
     max-width: 100%;
    }
  }

  &--must {
    background-color: #a1041f;
  }

  &--should {
    background-color: #eeb600;
  }
  
  &--could {
    background-color: #3acc83;
  }
}