.task-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 80vh;
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: none;
  background-color: #f0f8ff;

  @media screen and (max-width: 540px) {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }

  &__title {
    width: 100%;
    padding: 10px 0;
    border-radius: 20px 0 0;
    font-size: 20px;
    font-weight: 600;
    color: #3d3c3c;
  
    &--planned {
      background-color: #dfdfdf;
    }
    
    &--in-progress {
      background-color: #e4f07b;
    }
    
    &--testing {
      background-color: #9fd4f7;
    }

    &--done {
      background-color: #8cf088;
    }

    @media screen and (max-width: 768px) {
      padding: 8px 0;
      font-size: 16px;
    }
  }
}
