.task-board {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;

  &--active {
    box-shadow: 0px 5px 34px 2px rgba(139, 0, 255, 0.7);
  }

  @media screen and (max-width: 540px) {
    flex-direction: column;
  }
}
