.main-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  @media screen and (max-width: 540px) {
    overflow-y: auto;
  }

  &__header {
    flex: 0 0 auto;
    padding: 20px 0;
    font-size: 24px;
    text-transform: uppercase;
    background-color: #000224;
    color: #cbf7f7;
  }

  &__main-content {
    flex: 1 0 auto;
    padding: 20px;
    background-color: #93e7ce81;
  }
}
